.home {
  &__wrapper {
    @include tabletLg {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__video {
    position: relative;
    width: 900px;
    height: 333px;
    overflow: hidden;
    z-index: -1;

    @include laptop {
      width: 750px;
      height: 280px;
    }

    @include mobile {
      width: 500px;
      height: 182px;
      margin: 0 auto;
    }

    video {
      background: transparent !important;
      background-color: transparent !important;

      border: none;
      outline: none;

      filter: contrast(1.2) brightness(1.1) saturate(1.2);

      width: 100%;
      position: absolute;
      top: 0;
      left: -64px;
      display: block;

      -webkit-transform: translateZ(0);
      transform: translateZ(0);

      &::-webkit-media-controls {
        display: none !important;
      }

      &::-webkit-media-controls-panel {
        display: none !important;
      }

      @include tabletLg {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__content {
    max-width: 550px;
    width: 100%;
    text-align: center;
    padding-bottom: 120px;
    margin-left: 113px;

    @include laptop {
      margin-left: 45px;
    }

    @include tabletLg {
      margin: 0 auto;
      padding-bottom: 95px;
    }
  }

  &__title {
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    line-height: 1.1;
    margin-bottom: 35px;
    white-space: pre-line;

    @include mobile {
      font-size: 18px;
      margin-bottom: 17px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 27px;
    margin-bottom: 35px;
    margin-left: -13px;

    @include tabletLg {
      margin-left: 0;
      gap: 20px;
    }

    @include mobile {
      gap: 14px;

      max-width: 290px;
      width: 100%;
      align-items: center;
      margin: 0 auto 17px;
    }

    li {
      font-family: var(--font-overpass);
      font-size: 20px;
      font-weight: 600;
      color: rgba(194, 211, 230, 1);
      white-space: pre-line;

      @include mobile {
        font-size: 12px;
        line-height: 1.1;
        &:not(:first-child) {
          white-space: unset;
        }
      }
    }
  }

  &__button {
    max-width: 300px;
    margin: 0 auto;
    @include tabletLg {
      max-width: 250px;
    }

    @include mobile {
      font-size: 18px !important;
      padding: 15px 15px 19px !important;
      max-width: 165px;
    }
  }
}
