.page-home {
  background: url("/images/home-bg.jpg") center center / cover no-repeat;
}

.home {
  &__video {
    position: relative;
    width: 900px;
    height: 333px;
    overflow: hidden;

    @include laptop {
      width: 750px;
      height: 280px;
    }

    video {
      width: 100%;
      position: absolute;
      top: 0;
      left: -64px;
      display: block;
    }
  }

  &__content {
    max-width: 550px;
    width: 100%;
    text-align: center;
    padding-bottom: 120px;
    margin-left: 113px;

    @include laptop {
      margin-left: 45px;
    }
  }

  &__title {
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    line-height: 1.1;
    margin-bottom: 35px;
    white-space: pre-line;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 27px;
    margin-bottom: 35px;
    margin-left: -13px;

    @include laptop {
      margin-left: 0;
      gap: 20px;
    }

    li {
      font-family: var(--font-overpass);
      font-size: 20px;
      font-weight: 600;
      color: rgba(194, 211, 230, 1);
      white-space: pre-line;
    }

    @include laptop {
      gap: 15px;
      margin-bottom: 25px;
    }
  }

  &__button {
    max-width: 300px;
    margin: 0 auto;
    @include laptop {
      max-width: 250px;
    }
  }
}
