@import "mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-furore: "Furore", sans-serif;
  --font-overpass: "Overpass Mono", monospace;
}

body {
  font-family: var(--font-furore);
  background: #000106;
  color: rgba(151, 177, 207, 1);

  font-weight: 400;
  font-size: 18px;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
  width: 100%;
  min-height: 100dvh;
  height: 100%;
}

img,
svg {
  display: block;
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

input,
button,
select {
  outline: none;
  border: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;

  @include laptop {
    padding: 0 24px;
  }
}

// Components
@import "header";
@import "footer";
