*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --font-furore: "Furore", sans-serif;
  --font-overpass: "Overpass Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-furore);
  background: #010a24;
  color: rgb(151, 177, 207);
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
  min-height: 100dvh;
  height: 100%;
  position: relative;
}

img,
svg {
  display: block;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

input,
button,
select {
  outline: none;
  border: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

.title {
  font-size: 60px;
  line-height: 1.1;
  color: #fff;
  text-align: center;
  font-weight: 400;
}

.bg-wrapper {
  position: absolute;
  inset: 0;
  z-index: -2;
}

.bg-wrapper .bg-desktop {
  display: block;
}

.bg-wrapper .bg-mobile {
  display: none;
}

.bg-wrapper .bg-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.bg-wrapper .bg-all {
  position: fixed;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 40;
}

.header::after {
  content: "";
  width: 100%;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 1, 10)), to(rgba(0, 1, 10, 0)));
  background: linear-gradient(180deg, rgb(0, 1, 10), rgba(0, 1, 10, 0));
  width: 100%;
  height: 130px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 43px 33px 33px 24px;
  border-bottom: 2px solid #fff;
  position: relative;
  z-index: 30;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 39px;
}

.header__nav--logo {
  width: 35px;
}

.header__nav--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__nav--links a {
  font-size: 20px;
  padding: 0 30px;
  position: relative;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.header__nav--links a::after {
  content: "";
  width: 100%;
  height: 125px;
  background: rgba(163, 246, 239, 0.3);
  position: absolute;
  top: -58px;
  left: 0;
  z-index: -1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.header__nav--links a::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #a3f6ef;
  position: absolute;
  bottom: -51px;
  left: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.header__nav--links a:hover,
.header__nav--links a.active {
  color: #fff;
}

.header__nav--links a:hover::after,
.header__nav--links a.active::after {
  opacity: 1;
}

.header__nav--links a:hover::before,
.header__nav--links a.active::before {
  opacity: 1;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 55px;
}

.header__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.header__lang--selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  gap: 6px;
  cursor: pointer;
}

.header__lang--selected svg {
  width: 19px;
  margin-top: 2px;
}

.header__lang--list {
  position: absolute;
  top: 72px;
  left: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 18px 14px 16px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.header__lang--list button {
  background: none;
  font-size: 20px;
  color: rgb(151, 177, 207);
}

.header__lang--list button.active {
  color: rgb(255, 255, 255);
}

.header__lang--icon {
  display: none;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.header__burger {
  width: 34px;
  height: 24px;
  cursor: pointer;
  display: none;
}

.footer {
  width: 100%;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 30;
}

.footer::after {
  content: "";
  width: 100%;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 1, 10, 0)), to(rgb(0, 1, 10)));
  background: linear-gradient(180deg, rgba(0, 1, 10, 0), rgb(0, 1, 10));
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.footer__wrapper {
  width: 100%;
  padding: 21px 19px 20px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 40px;
}

.footer__social--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  gap: 7px;
}

.footer__social--item span {
  font-size: 14px;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 50px;
}

.footer__right a {
  font-size: 20px;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dialog__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.dialog__blog {
  position: relative;
  z-index: 30;
  width: 100%;
  max-width: 900px;
  max-height: 600px;
  height: 100%;
}

.dialog__blog iframe {
  width: 100%;
  height: 100%;
  display: block;
}

.dialog__close {
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 1.5rem;
  cursor: pointer;
  width: 25px;
  height: 25px;
  line-height: 0.7;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: black;
}

.mobile__menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 11, 35, 0.95);
  display: none;
  padding: 185px 20px 75px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mobile__menu--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  gap: 45px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.mobile__menu--links a {
  font-size: 20px;
  text-transform: uppercase;
  color: #97b1cf;
}

.mobile__menu--links a.active {
  color: #fff;
}

.mobile__menu--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 35px;
}

.swiper__container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.swiper__container .swiper-button-next,
.swiper__container .swiper-button-prev {
  --swiper-navigation-top-offset: 26%;
}

.swiper__container .swiper-button-next::after,
.swiper__container .swiper-button-prev::after {
  display: none;
}

.swiper__container .swiper-button-prev {
  -webkit-animation: moveLeft 2s linear infinite;
  animation: moveLeft 2s linear infinite;
}

.swiper__container .swiper-button-next {
  -webkit-animation: moveRight 2s linear infinite;
  animation: moveRight 2s linear infinite;
}

.swiper__container .swiper-pagination-bullet {
  background: url("/images/star.png") center no-repeat;
  background-size: contain;
  width: 17px;
  height: 17px;
  opacity: 1 !important;
}

.swiper__container .swiper-pagination-bullet-active {
  background: url("/images/star-active.png") center no-repeat;
}

@-webkit-keyframes moveLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  25% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }

  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes moveLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  25% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }

  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes moveRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  25% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }

  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes moveRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  25% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }

  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.hero {
  position: relative;
}

.hero .bg-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1;
}

.hero.fast::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(20%, rgba(0, 0, 0, 0.7)),
    color-stop(rgba(0, 0, 0, 0)),
    color-stop(60%, rgba(0, 0, 0, 0.7))
  );
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 60%);
}

.hero {
  min-height: 100vh;
}

.home {
  padding: 325px 0 160px;
}

.home__wrapper {
  max-width: 640px;
  width: 100%;
  margin-left: 65px;
  z-index: 10;
  position: relative;
}

.home__video {
  position: relative;
  width: 100%;
  height: 140px;
  overflow: hidden;
}

.home__video video {
  background: transparent !important;
  background-color: transparent !important;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 43%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(3.5);
  -ms-transform: translate(-50%, -50%) scale(3.5);
  transform: translate(-50%, -50%) scale(3.5);
  display: block;
}

.home__video video::-webkit-media-controls {
  display: none !important;
}

.home__video video::-webkit-media-controls-panel {
  display: none !important;
}

.home__video img {
  -o-object-fit: cover;
  object-fit: cover;
}

.home__content {
  max-width: 550px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.home__title {
  font-size: 30px;
  color: rgb(255, 255, 255);
  line-height: 1.1;
  margin-bottom: 35px;
  white-space: pre-line;
}

.home__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 27px;
  margin-bottom: 35px;
  margin-left: -13px;
}

.home__list li {
  font-family: var(--font-overpass);
  font-size: 20px;
  font-weight: 600;
  color: rgb(194, 211, 230);
  white-space: pre-line;
}

.home__button {
  max-width: 300px;
  margin: 0 auto;
}

.about {
  padding: 230px 65px 184px;
  min-height: 100dvh;
}

.about__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 168px;
}

.about__img--desktop {
  display: block;
}

.about__img--mobile {
  display: none;
}

.about__left {
  max-width: 794px;
  width: 100%;
}

.about__right {
  padding-top: 40px;
  max-width: 586px;
  width: 100%;
}

.about__title {
  margin-bottom: 20px;
}

.about__title span {
  font-size: 45px;
  color: #37dd97;
  display: block;
  margin-bottom: 11px;
  font-weight: 400;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 27px;
  margin-bottom: 35px;
}

.about__list li {
  font-size: 20px;
  font-family: var(--font-overpass);
  color: #fff;
  letter-spacing: -0.8px;
}

.about__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
  cursor: pointer;
  padding-left: 3px;
}

.about__footer p {
  font-size: 20px;
  line-height: 1.1;
  color: #fff;
  text-decoration: underline;
  letter-spacing: -1px;
}

.about__play {
  background: transparent;
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.mine {
  padding: 166px 0 156px;
  min-height: 100dvh;
}

.mine .title {
  margin-bottom: 40px;
}

.mine__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 360px);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 70px;
}

.mine__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mine__card.on-top .mine__card--content {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.mine__card.on-top .mine__card--picture {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: 20px;
}

.mine__card.on-top .mine__card--image img {
  animation: upDown 2s ease-in-out infinite;
  -webkit-animation: upDown 2s ease-in-out infinite;
}

.mine__card.on-bottom .mine__card--content {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.mine__card.on-bottom .mine__card--picture {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin-top: 40px;
  margin-right: auto;
  margin-left: 20px;
}

.mine__card.on-bottom .mine__card--image img {
  animation: downUp 2s ease-in-out infinite;
  -webkit-animation: downUp 2s ease-in-out infinite;
}

.mine__card--picture {
  position: relative;
  width: 309px;
  height: 364px;
}

.mine__card--slot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mine__card--image {
  position: absolute;
  height: auto;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(1.5);
  -ms-transform: translateX(-50%) scale(1.5);
  transform: translateX(-50%) scale(1.5);
}

.mine__card--title {
  font-size: 25px;
  line-height: 1.1;
  text-align: center;
  color: #37dd97;
  font-weight: 400;
  margin-bottom: 30px;
}

.mine__card--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.mine__card--list li {
  font-family: var(--font-overpass);
  font-size: 20px;
  line-height: 1.1;
  color: #fff;
  letter-spacing: -0.8px;
}

.mine__card--2.on-bottom .mine__card--picture {
  margin-top: 64px;
}

.mine__swiper {
  display: none;
  max-width: 800px;
  margin: 0 auto;
}

@-webkit-keyframes upDown {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes downUp {
  0% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
  }

  50% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
  }
}

@keyframes downUp {
  0% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
  }

  50% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
  }
}

.token {
  padding: 166px 0 100px;
  min-height: 100dvh;
}

.token .title {
  margin-bottom: 80px;
}

.token__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 278px);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 60px;
  margin-bottom: 100px;
}

.token__swiper {
  display: none;
  position: relative;
  left: -16px;
  right: -16px;
  width: calc(100% + 32px);
  max-width: 800px;
  margin: 0 auto 57px;
}

.token__swiper .swiper-slide {
  min-height: 500px;
}

.token__swiper .swiper-button-next,
.token__swiper .swiper-button-prev {
  --swiper-navigation-top-offset: 39%;
}

.token__card {
  position: relative;
}

.token__card--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.token__card--bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.token__card--content {
  width: 100%;
  height: 100%;
  padding: 39px 26px 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  gap: 38px;
  z-index: 5;
  position: relative;
}

.token__card--image {
  width: auto;
  max-height: 138px;
  min-height: 138px;
  -o-object-fit: contain;
  object-fit: contain;
}

.token__card--text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
  color: #ffffff;
}

.token__button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.token__button span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12px;
}

.token__button span svg {
  width: 23px;
  height: 23px;
}

.token-charts {
  padding: 134px 67px 210px;
  max-width: 1684px;
  width: 100%;
  margin: 0 auto;
}

.token-charts .title {
  margin-bottom: 78px;
}

.token-charts .charts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 95px;
}

.token-charts .table-container {
  width: 100%;
  min-height: 536px;
  height: 100%;
  position: relative;
}

.token-charts .table-container .token-border {
  position: absolute;
  width: unset;
}

.token-charts .table-container .token-border-left {
  bottom: -4px;
  left: -4px;
  height: calc(100% + 8px);
}

.token-charts .table-container .token-border-right {
  top: -4px;
  right: -4px;
  height: calc(100% + 7px);
}

.token-charts .table-container .table-inner {
  --clip-width: 63px;
  width: 100%;
  min-height: 536px;
  height: 100%;
  clip-path: polygon(
    0% 0%,
    calc(100% - var(--clip-width)) 0%,
    100% var(--clip-width),
    100% 100%,
    var(--clip-width) 100%,
    0% calc(100% - var(--clip-width))
  );
  background-color: rgba(4, 43, 78, 0.5);
  border: 3px solid #37dd97;
}

.token-charts .table-container .table {
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-weight: 400;
  border: none;
  border-collapse: collapse;
}

.token-charts .table-container .table tr.active {
  position: relative;
  background-color: rgba(55, 221, 151, 0.2);
}

.token-charts .table-container .table thead {
  background-color: rgba(37, 60, 111, 0.8);
}

.token-charts .table-container .table thead th {
  padding: 29px 24px 28px;
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  line-height: 1.1;
}

.token-charts .table-container .table thead th:nth-child(1) {
  padding-left: 54px !important;
}

.token-charts .table-container .table thead th:nth-child(2) {
  text-align: center;
}

.token-charts .table-container .table tbody tr:first-child td {
  padding-top: 8px !important;
  height: 0;
}

.token-charts .table-container .table tbody td {
  font-family: var(--font-overpass);
  font-size: 20px;
  line-height: 1.1;
  font-weight: 400;
  padding: 12.5px 0;
}

.token-charts .table-container .table tbody .table-color {
  max-width: 25px;
  width: 100%;
  height: 25px;
}

.token-charts .table-container .table tbody .table-color-wrapper {
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 34px;
}

.token-charts .table-container .table tbody .table-tokens {
  text-align: center;
}

.token-charts .table-container .table tbody .table-vesting {
  padding-left: 24px;
  padding-right: 10px;
}

.token-charts .chart-container {
  max-width: 391px;
  width: 100%;
  height: 391px;
  border-radius: 50%;
  background-color: rgba(69, 184, 241, 0.2);
  position: relative;
}

.token-charts .chart-container .chart-top-layer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 364px;
  height: 364px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.token-charts .chart-container .chart-top-layer svg {
  animation: rotate 5s linear infinite;
  -webkit-animation: rotate 5s linear infinite;
}

.token-charts .chart-container .chart-inner-layer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
}

.token-charts .chart-container .chart {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.token-charts .chart-container .chart .vue-apexcharts {
  margin-top: 8px;
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}

.roadmap {
  padding: 166px 77px 180px;
  min-height: 100dvh;
}

.roadmap .title {
  margin-bottom: 27px;
}

.roadmap-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1666px;
  width: 100%;
  margin: 0 auto;
  min-height: 640px;
  position: relative;
}

.roadmap-wrapper .planet-1 .planet-image {
  width: 343px;
  top: 38px;
  left: -53px;
}

.roadmap-wrapper .planet-1 .planet-card {
  top: 0;
  left: 3px;
}

.roadmap-wrapper .planet-1 .planet-line {
  bottom: calc(-100% - 61px);
  right: -38px;
  height: 205px;
}

.roadmap-wrapper .planet-2 .planet-image {
  width: 346px;
  top: -154px;
  left: -77px;
}

.roadmap-wrapper .planet-2 .planet-card {
  top: 37px;
  left: -6px;
}

.roadmap-wrapper .planet-2 .planet-line {
  bottom: 183px;
  right: -77px;
  height: 161px;
}

.roadmap-wrapper .planet-3 .planet-image {
  width: 339px;
  top: 81px;
  left: -68px;
}

.roadmap-wrapper .planet-3 .planet-card {
  top: 47px;
  left: -14px;
}

.roadmap-wrapper .planet-3 .planet-line {
  bottom: calc(-100% - 58px);
  right: -25px;
  height: 164px;
}

.roadmap-wrapper .planet-4 .planet-image {
  width: 346px;
  top: -98px;
  left: -91px;
}

.roadmap-wrapper .planet-4 .planet-card {
  bottom: -43px;
  left: -32px;
}

.roadmap-wrapper .planet-4 .planet-line {
  bottom: 181px;
  right: -39px;
  height: 220px;
}

.roadmap-wrapper .planet-5 .planet-image {
  width: 339px;
  top: 36px;
  left: -93px;
}

.roadmap-wrapper .planet-5 .planet-card {
  top: 5px;
  left: -36px;
}

.roadmap-wrapper .planet-5 .planet-line {
  bottom: calc(-100% - 60px);
  right: 11px;
  height: 225px;
}

.roadmap-wrapper .planet-6 .planet-image {
  width: 343px;
  top: -155px;
  left: -128px;
}

.roadmap-wrapper .planet-6 .planet-card {
  top: 37px;
  left: -51px;
}

.roadmap-wrapper .planet-6 .planet-line {
  bottom: 182px;
  right: -15px;
  height: 172px;
}

.roadmap-wrapper .planet-7 .planet-image {
  width: 341px;
  top: 81px;
  left: -125px;
}

.roadmap-wrapper .planet-7 .planet-card {
  top: 47px;
  left: -60px;
}

.roadmap-wrapper .planet-7 .planet-line {
  bottom: calc(-100% - 60px);
  right: 13px;
  height: 168px;
}

.roadmap-wrapper .planet-8 .planet-image {
  width: 342px;
  top: -96px;
  left: -140px;
}

.roadmap-wrapper .planet-8 .planet-card {
  top: 95px;
  left: -74px;
}

.roadmap-wrapper .planet-8 .planet-line {
  bottom: 182px;
  right: 6px;
  height: 223px;
}

.roadmap-wrapper .planet-9 .planet-image {
  width: 341px;
  top: 37px;
  left: -136px;
}

.roadmap-wrapper .planet-9 .planet-card {
  top: 3px;
  left: -81px;
}

.roadmap-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.roadmap-item.top {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.roadmap-item.bottom {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.roadmap-item .planet-wrapper {
  position: relative;
  min-height: 200px;
}

.roadmap-item .planet-line {
  position: absolute;
  z-index: -1;
}

.roadmap-item .planet-line img {
  -o-object-fit: contain;
  object-fit: contain;
}

.roadmap-item .planet-image {
  position: absolute;
}

.roadmap-item .planet-image img {
  -o-object-fit: contain;
  object-fit: contain;
}

.roadmap-item .planet-card {
  position: absolute;
  width: 226px;
  height: 141px;
  padding: 27px 10px 24px;
  text-align: center;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.roadmap-item .planet-card h3 {
  font-size: 24px;
  line-height: 1.1;
  margin-bottom: 15px;
  color: white;
  font-weight: 400;
}

.roadmap-item .planet-card p {
  font-size: 20px;
  line-height: 1.1;
  font-family: var(--font-overpass);
  font-weight: 400;
  letter-spacing: -0.6px;
  color: white;
  white-space: pre-line;
  text-transform: uppercase;
}

.roadmap-item .planet-card .roadmap-slot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.roadmap-mobile {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.roadmap .roadmap-item-mobile.even .planet-image {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.roadmap .roadmap-item-mobile.odd {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-left: unset;
}

.roadmap .roadmap-item-mobile.odd .planet-image {
  left: unset;
  right: -60px;
}

.roadmap .roadmap-item-mobile.odd .planet-card {
  right: 0;
}

.roadmap .roadmap-item-mobile:last-child {
  grid-column: 1/-1;
  margin-left: unset;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.roadmap .roadmap-item-mobile .planet-wrapper {
  max-width: 310px;
  width: 100%;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.roadmap .roadmap-item-mobile .planet-image {
  width: 343px;
  top: 40px;
  z-index: 4;
}

.roadmap .roadmap-item-mobile .planet-image {
  left: -60px;
}

.roadmap .roadmap-item-mobile .planet-line {
  top: 200px;
  right: unset;
}

.roadmap .roadmap-item-mobile .planet-line-1 {
  width: 280px;
  left: 220px;
}

.roadmap .roadmap-item-mobile .planet-line-2 {
  width: 190px;
  left: 200px;
}

.roadmap .roadmap-item-mobile .planet-line-3 {
  width: 193px;
  right: 165px;
}

.roadmap .roadmap-item-mobile .planet-line-4 {
  width: 170px;
  right: 181px;
}

.roadmap .roadmap-item-mobile .planet-line-5 {
  width: 212px;
  left: 229px;
}

.roadmap .roadmap-item-mobile .planet-line-6 {
  width: 173px;
  left: 229px;
}

.roadmap .roadmap-item-mobile .planet-line-7 {
  width: 354px;
  right: 0;
}

.roadmap .roadmap-item-mobile .planet-line-8 {
  width: 200px;
  right: 178px;
}

.roadmap .ship {
  --start-y: -28px;
  --start-x: -5px;
  --mid-y: -12px;
  --mid-x: 24px;
  --down-y: -35px;
  --down-x: 160px;
  --end-y: 96px;
  --end-x: 40px;
  position: absolute;
  bottom: var(--start-y);
  left: var(--start-x);
  width: 71px;
  height: 71px;
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
  z-index: 10;
}

.roadmap .ship.ship-animated {
  -webkit-animation: shipMove 2s linear forwards;
  animation: shipMove 2s linear forwards;
}

@-webkit-keyframes shipMove {
  0% {
    bottom: var(--start-y);
    left: var(--start-x);
  }

  25% {
    bottom: var(--mid-y);
    left: var(--mid-x);
  }

  100% {
    bottom: var(--end-y);
    left: var(--end-x);
  }
}

@keyframes shipMove {
  0% {
    bottom: var(--start-y);
    left: var(--start-x);
  }

  25% {
    bottom: var(--mid-y);
    left: var(--mid-x);
  }

  100% {
    bottom: var(--end-y);
    left: var(--end-x);
  }
}

@-webkit-keyframes shipMoveMobile {
  0% {
    bottom: var(--start-y);
    left: var(--start-x);
  }

  35% {
    bottom: var(--mid-y);
    left: var(--mid-x);
  }

  75% {
    bottom: var(--down-y);
    left: var(--down-x);
  }

  100% {
    bottom: var(--end-y);
    left: var(--end-x);
  }
}

@keyframes shipMoveMobile {
  0% {
    bottom: var(--start-y);
    left: var(--start-x);
  }

  35% {
    bottom: var(--mid-y);
    left: var(--mid-x);
  }

  75% {
    bottom: var(--down-y);
    left: var(--down-x);
  }

  100% {
    bottom: var(--end-y);
    left: var(--end-x);
  }
}

.partners {
  padding: 169px 0 300px 55px;
  min-height: 100dvh;
}

.partners .title {
  margin-bottom: 106px;
}

.partners__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 328px);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 60px;
  margin-bottom: 106px;
}

.partners__card {
  height: 158px;
  position: relative;
}

.partners__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.partners__card--slot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.partners__card--slot img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.partners__card--image {
  position: relative;
  z-index: 5;
  width: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.partners__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 120px;
}

.partners__links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  font-size: 25px;
  color: #fff;
  text-decoration: underline;
}

.partners__links a svg {
  width: 26px;
  height: 26px;
}

.partners__social {
  display: none;
}

@media (max-width: 1750.98px) {
  .container {
    padding: 0 24px;
  }

  .title {
    font-size: 50px;
  }

  .header__wrapper {
    padding: 20px 10px 16px 12px;
  }

  .header__nav--links a {
    padding: 0 12px;
    font-size: 16px;
  }

  .header__nav--links a::after {
    top: -50px;
    height: 102px;
  }

  .header__nav--links a::before {
    bottom: -33px;
  }

  .header__right {
    gap: 30px;
  }

  .header__lang--list {
    top: 58px;
  }

  .footer__social {
    gap: 30px;
  }

  .footer__right {
    gap: 30px;
  }

  .dialog__blog {
    max-width: 600px;
    max-height: 400px;
  }

  .home {
    padding: 130px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .home__video {
    height: 120px;
  }

  .home__video video {
    -webkit-transform: translate(-50%, -50%) scale(2.6);
    -ms-transform: translate(-50%, -50%) scale(2.6);
    transform: translate(-50%, -50%) scale(2.6);
  }

  .home__title {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .about {
    padding: 110px 30px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .about__wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 60px;
  }

  .about__left {
    max-width: 600px;
  }

  .mine {
    padding-top: 120px;
  }

  .mine__wrapper {
    grid-template-columns: repeat(4, 300px);
    gap: 30px;
  }

  .mine__wrapper .mine__card--title {
    font-size: 20px;
  }

  .mine__wrapper .mine__card--list {
    gap: 16px;
  }

  .mine__wrapper .mine__card--list li {
    font-size: 18px;
  }

  .mine__wrapper .mine__card--picture {
    width: 240px;
    height: 280px;
  }

  .mine__wrapper .mine__card--image {
    -webkit-transform: translate(-50%, -25%) scale(1);
    -ms-transform: translate(-50%, -25%) scale(1);
    transform: translate(-50%, -25%) scale(1);
    top: 25% !important;
  }

  .token__wrapper {
    grid-template-columns: repeat(4, 240px);
    gap: 30px;
  }

  .token__wrapper .token__card {
    min-height: 320px;
  }

  .token__wrapper .token__card--image {
    max-height: 100px;
    min-height: 100px;
  }

  .token__wrapper .token__card--text {
    font-size: 18px;
  }

  .token__wrapper .token__card--content {
    gap: 25px;
  }

  .token-charts .charts__wrapper {
    gap: 30px;
  }

  .token-charts .table-container .table thead th {
    padding: 15px 18px;
  }

  .token-charts .table-container .table thead th:nth-child(2) {
    padding-left: 24px;
    padding-top: 24px;
    padding-top: 14px !important;
    white-space: nowrap;
  }

  .token-charts .table-container .table tbody .table-color-wrapper {
    gap: 20px;
  }

  .roadmap {
    padding-top: 110px;
  }

  .roadmap-wrapper .planet-3 .planet-line {
    right: -70px;
  }

  .partners__wrapper {
    grid-template-columns: repeat(4, 260px);
    gap: 30px;
  }

  .partners__card {
    height: 130px;
  }

  .partners__card--image {
    scale: 0.8;
  }

  .partners__links {
    gap: 60px;
  }

  .partners__links a {
    font-size: 20px;
    gap: 6px;
  }

  .partners__links a svg {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 1650.98px) {
  .home__wrapper {
    margin-left: 0;
  }

  .mine__wrapper {
    grid-template-columns: repeat(4, 260px);
    gap: 30px;
  }

  .mine__wrapper .mine__card--title {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .mine__wrapper .mine__card--list li {
    font-size: 16px;
  }

  .mine__wrapper .mine__card--picture {
    zoom: 0.9;
  }

  .mine__card.on-bottom .mine__card--picture {
    margin-top: 25px;
  }

  .mine__card--2.on-bottom .mine__card--picture {
    margin-top: 25px;
  }

  .token-charts {
    padding: 134px 20px 210px;
  }

  .token-charts .table-container {
    min-height: auto;
  }

  .token-charts .table-container .table-inner {
    --clip-width: 58px;
  }

  .token-charts .table-container .table-inner {
    min-height: auto;
  }

  .token-charts .table-container .table tbody .top-border td {
    padding: 0;
  }

  .roadmap-wrapper {
    max-width: 1300px;
    zoom: 0.8;
  }

  .roadmap-wrapper .planet-5 .planet-line {
    right: -16px;
  }

  .roadmap-wrapper .planet-7 .planet-line {
    right: -16px;
  }
}

@media (max-width: 1400.98px) {
  .header__nav--links a::before {
    bottom: -31px;
  }

  .about__title span {
    font-size: 40px;
  }

  .partners .title {
    margin-bottom: 50px;
  }

  .partners__wrapper {
    grid-template-columns: repeat(2, 260px);
    gap: 30px;
    margin-bottom: 50px;
  }

  .partners__links {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 37px 68px;
  }

  .partners__links a {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 1320px) {
  .mine__card {
    max-width: 360px;
    min-height: 750px;
    padding-bottom: 26px;
  }

  .mine__card.on-top .mine__card--picture {
    margin: 0 auto 54px;
  }

  .mine__card--title {
    margin-bottom: 21px;
  }
}

@media (max-width: 1270px) {
  .token-charts .table-container .table-inner {
    --clip-width: 60px;
  }
}

@media (max-width: 1100.98px) {
  .title {
    font-size: 40px;
  }

  .header__nav--links {
    display: none;
  }

  .header__nav--links a::before {
    bottom: -32px;
  }

  .header__right--btn {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .header__lang {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .header__lang--selected {
    display: none;
  }

  .header__lang--list {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 60px;
  }

  .header__lang--icon {
    display: block;
  }

  .header__burger {
    display: block;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .footer {
    display: none;
  }

  .mobile__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .hero.fast::after {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(10%, rgba(0, 0, 0, 0.7)),
      color-stop(rgba(0, 0, 0, 0)),
      color-stop(60%, rgba(0, 0, 0, 0.7))
    );
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 60%);
  }

  .home {
    padding: 0 0 96px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: calc(100dvh - 105px);
  }

  .home__wrapper {
    margin: 0 auto;
  }

  .home__video video {
    -webkit-transform: translate(-50%, -50%) scale(2.6);
    -ms-transform: translate(-50%, -50%) scale(2.6);
    transform: translate(-50%, -50%) scale(2.6);
  }

  .home__list {
    margin-left: 0;
    gap: 20px;
  }

  .home__button {
    max-width: 250px;
  }

  .about {
    padding-top: 150px;
  }

  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 25px;
  }

  .about__left {
    max-width: 100%;
  }

  .about__right {
    max-width: 100%;
  }

  .mine__wrapper {
    display: none;
  }

  .mine__swiper {
    display: block;
  }

  .token__wrapper {
    display: none;
  }

  .token__swiper {
    display: block;
  }

  .token__card {
    max-width: 278px;
    width: 100%;
    height: 386px;
  }

  .token-charts .charts__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .roadmap-wrapper {
    display: none;
  }

  .roadmap-mobile {
    display: grid;
  }

  .roadmap .ship {
    --start-y: 262px;
    --start-x: 36px;
    --mid-y: 262px;
    --mid-x: 160px;
    --end-y: -38px;
    --end-x: 94px;
  }

  .roadmap .ship.ship-animated {
    -webkit-animation: shipMoveMobile 4s linear forwards;
    animation: shipMoveMobile 4s linear forwards;
  }

  .partners__social {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
  }
}

@media (max-width: 990.98px) {
  .about__title span {
    font-size: 35px;
  }
}

@media (max-width: 767.98px) {
  .bg-wrapper .bg-desktop {
    display: none;
  }

  .bg-wrapper .bg-mobile {
    display: block;
  }

  .token-charts .table-container::after,
  .token-charts .table-container::before {
    content: "";
    position: absolute;
    width: 34px;
    height: 34px;
  }

  .token-charts .table-container::after {
    background: url("/images/token/token-border-right-mobile.png") center no-repeat;
    top: -1px;
    right: -2px;
  }

  .token-charts .table-container::before {
    background: url("/images/token/token-border-left-mobile.png") center no-repeat;
    bottom: -1px;
    left: -2px;
  }

  .token-charts .table-container .token-border {
    display: none;
  }

  .token-charts .table-container .table-inner {
    --clip-width: 18px;
  }

  .roadmap {
    padding: 98px 0 40px;
  }

  .roadmap .title {
    margin-bottom: 23px;
  }

  .roadmap-item .planet-card {
    width: 129px;
    height: 78px;
    padding: 15px 5px;
  }

  .roadmap-item .planet-card h3 {
    font-size: 14px;
    margin-bottom: 9px;
  }

  .roadmap-item .planet-card p {
    font-size: 10px;
  }

  .roadmap-mobile {
    max-width: 390px;
    width: 100%;
  }

  .roadmap .roadmap-item-mobile.odd .planet-image {
    right: -35px;
  }

  .roadmap .roadmap-item-mobile.planet-1 {
    margin-left: 10px;
  }

  .roadmap .roadmap-item-mobile.planet-2 {
    margin-left: -5px;
  }

  .roadmap .roadmap-item-mobile.planet-4 {
    margin-right: 25px;
  }

  .roadmap .roadmap-item-mobile.planet-5 {
    margin-left: 25px;
  }

  .roadmap .roadmap-item-mobile.planet-5 {
    margin-right: 25px;
  }

  .roadmap .roadmap-item-mobile.planet-8 {
    margin-right: 25px;
  }

  .roadmap .roadmap-item-mobile.planet-9 {
    margin-right: -46px;
  }

  .roadmap .roadmap-item-mobile .planet-wrapper {
    max-width: 138px;
    min-height: 150px;
  }

  .roadmap .roadmap-item-mobile .planet-image {
    width: 187px;
    top: 20px;
  }

  .roadmap .roadmap-item-mobile .planet-line {
    top: 98px;
  }

  .roadmap .roadmap-item-mobile .planet-line-1 {
    width: 98px;
    left: 118px;
  }

  .roadmap .roadmap-item-mobile .planet-line-2 {
    width: 94px;
    left: 107px;
  }

  .roadmap .roadmap-item-mobile .planet-line-3 {
    width: 97px;
    right: 100px;
  }

  .roadmap .roadmap-item-mobile .planet-line-4 {
    width: 94px;
    right: 100px;
  }

  .roadmap .roadmap-item-mobile .planet-line-5 {
    width: 94px;
    left: 109px;
  }

  .roadmap .roadmap-item-mobile .planet-line-6 {
    width: 89px;
    left: 109px;
  }

  .roadmap .roadmap-item-mobile .planet-line-7 {
    width: 179px;
    right: 18px;
  }

  .roadmap .roadmap-item-mobile .planet-line-8 {
    width: 94px;
    right: 100px;
  }

  .roadmap .ship {
    width: 35px;
    height: 35px;
    --start-y: 132px;
    --start-x: 0px;
    --mid-y: 132px;
    --mid-x: 76px;
    --down-y: -15px;
    --down-x: 76px;
    --end-y: -15px;
    --end-x: 40px;
  }
}

@media (max-width: 575.98px) {
  .container {
    padding: 0 15px;
  }

  .title {
    font-size: 30px;
  }

  .header .container {
    padding: 0 16px !important;
  }

  .header__wrapper {
    padding: 36px 16px 13px 7px;
  }

  .header__nav--logo {
    width: 24px;
    height: 29px;
  }

  .header__right {
    gap: 35px;
  }

  .header__right--btn {
    font-size: 12px !important;
    min-width: 96px !important;
    padding: 7px 10px 9px !important;
  }

  .dialog__blog {
    max-width: 90%;
  }

  .mobile__menu {
    padding-top: 100px;
    padding-bottom: 20px;
  }

  .mobile__menu--links {
    margin-bottom: 20px;
  }

  .home__video video {
    top: 71%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(2);
    -ms-transform: translate(-50%, -50%) scale(2);
    transform: translate(-50%, -50%) scale(2);
  }

  .home__title {
    font-size: 18px;
    margin-bottom: 17px;
  }

  .home__list {
    gap: 14px;
    max-width: 290px;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto 17px;
  }

  .home__list li {
    font-size: 12px;
    line-height: 1.1;
  }

  .home__list li:not(:first-child) {
    white-space: unset;
  }

  .home__button {
    font-size: 18px !important;
    padding: 15px 15px 19px !important;
    max-width: 165px;
  }

  .about {
    padding: 125px 16px;
  }

  .about__img--desktop {
    display: none;
  }

  .about__img--mobile {
    display: block;
  }

  .about__right {
    padding-top: 0;
    margin-left: 14px;
  }

  .about__title span {
    font-size: 20px;
  }

  .about__list {
    gap: 19px;
    margin-bottom: 17px;
  }

  .about__list li {
    font-size: 15px;
    line-height: 1.1;
    letter-spacing: -0.6px;
  }

  .about__footer {
    padding-left: 0;
    gap: 16px;
  }

  .about__footer p {
    font-size: 15px;
  }

  .about__play {
    width: 52px;
    height: 52px;
  }

  .mine {
    min-height: 100dvh;
    padding-bottom: 30px;
    padding-top: 100px;
  }

  .mine__card {
    min-height: 682px;
  }

  .mine__card--title {
    font-size: 20px;
  }

  .mine__card--list {
    max-width: 295px;
    width: 100%;
    margin: 0 auto;
  }

  .mine__card--list li {
    font-size: 15px;
  }

  .token {
    padding-top: 100px;
    padding-bottom: 60px;
  }

  .token .title {
    margin-bottom: 66px;
  }

  .token__button {
    padding: 19px 27px 19px !important;
  }

  .token__button span {
    font-size: 20px;
  }

  .token__button span svg {
    width: 20px;
    height: 20px;
  }

  .token-charts {
    padding: 30px 0 150px;
  }

  .token-charts .title {
    margin-bottom: 25px;
  }

  .token-charts .charts__wrapper {
    gap: 25px;
  }

  .token-charts .table-container {
    min-height: auto;
  }

  .token-charts .table-container .table thead th {
    font-size: 12px;
  }

  .token-charts .table-container .table thead th:nth-child(2) {
    padding: 11px 0 16px;
  }

  .token-charts .table-container .table tbody td {
    vertical-align: top;
    font-size: 10px;
    padding: 10px 0;
  }

  .token-charts .table-container .table tbody .table-color {
    max-width: 12px;
    height: 12px;
  }

  .token-charts .table-container .table tbody .table-color-wrapper {
    padding-left: 11px;
    gap: 10px;
  }

  .token-charts .table-container .table tbody .table-vesting {
    padding-left: 18px;
  }

  .token-charts .chart-container {
    max-width: 197px;
    height: 197px;
  }

  .token-charts .chart-container .chart-top-layer {
    width: 180px;
    height: 180px;
  }

  .token-charts .chart-container .chart-inner-layer {
    width: 88px;
    height: 88px;
  }

  .partners {
    padding: 103px 0 30px;
  }

  .partners .title {
    margin-bottom: 44px;
  }

  .partners__wrapper {
    grid-template-columns: repeat(2, 129px);
    gap: 25px 35px;
    margin-bottom: 60px;
  }

  .partners__card {
    height: 68px;
  }

  .partners__card--slot {
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .partners__card--image {
    scale: 0.4;
  }

  .partners__links a {
    font-size: 14px;
  }

  .partners__links a svg {
    width: 12px;
    height: 12px;
  }

  .partners__social {
    gap: 37px;
  }

  .partners__social .footer__social--item {
    gap: 9px;
    zoom: 1;
  }

  .partners__social .footer__social--item span {
    font-size: 12px;
  }
}

@media (max-width: 400.98px) {
  .roadmap .roadmap-item-mobile .planet-line-2 {
    left: 85px;
  }

  .roadmap .roadmap-item-mobile .planet-line-3 {
    right: 76px;
  }

  .roadmap .roadmap-item-mobile .planet-line-6 {
    left: 84px;
  }

  .roadmap .roadmap-item-mobile .planet-line-7 {
    right: -12px;
  }
}

@media (max-height: 956.98px) {
  .header__wrapper {
    padding: 20px 10px 16px 12px;
  }

  .header__nav--links a::after {
    top: -50px;
    height: 98px;
  }

  .header__nav--links a::before {
    bottom: -33px;
  }

  .footer__wrapper {
    padding: 12px;
  }

  .footer__social--item {
    zoom: 0.8;
  }

  .about {
    padding: 110px 30px 40px;
  }

  .about__wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 60px;
  }

  .about__left {
    max-width: 600px;
  }

  .mine {
    padding-top: 120px;
  }

  .mine__wrapper {
    grid-template-columns: repeat(4, 300px);
    gap: 30px;
  }

  .mine__wrapper .mine__card--title {
    font-size: 20px;
  }

  .mine__wrapper .mine__card--list {
    gap: 16px;
  }

  .mine__wrapper .mine__card--list li {
    font-size: 18px;
  }

  .mine__wrapper .mine__card--picture {
    width: 240px;
    height: 280px;
  }

  .mine__wrapper .mine__card--image {
    -webkit-transform: translate(-50%, -25%) scale(1);
    -ms-transform: translate(-50%, -25%) scale(1);
    transform: translate(-50%, -25%) scale(1);
    top: 25% !important;
  }

  .token {
    padding: 120px 0;
  }

  .token__wrapper {
    grid-template-columns: repeat(4, 240px);
    gap: 30px;
  }

  .token__wrapper .token__card {
    min-height: 320px;
  }

  .token__wrapper .token__card--image {
    max-height: 100px;
    min-height: 100px;
  }

  .token__wrapper .token__card--text {
    font-size: 18px;
  }

  .token__wrapper .token__card--content {
    gap: 25px;
  }

  .token-charts .charts__wrapper {
    gap: 30px;
  }

  .token-charts .table-container .table thead th {
    font-size: 18px;
  }

  .token-charts .table-container .table tbody td {
    font-size: 18px;
  }

  .roadmap {
    padding-top: 110px;
  }
}
